<center ng-include="'customer/homeLogo.htm'"></center>




<center>
 <button><a href = "#customer/ByType">ByType</a></button>
<button><a href = "#customer/ByPrice">ByPrice</a></button>
 
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Buy</th>
        <th>Picture</th>
        
    </tr>

  <tr ng-repeat="coupon in listOfCoupons">
  
    <td>{{ coupon.couponID }}</td>
    <td>{{ coupon.couponTitle }}</td>
    <td> {{ coupon.couponTypeByNumber }}</td>
    <td>  {{ coupon.startDate }}</td>
    <td> {{ coupon.endDate }}</td>
    <td> {{ coupon.couponPrice }}</td>
    <td>{{ coupon.couponAmount }}</td>
    <td>{{ coupon.couponMessage }}</td>
  
 <td ng-if="$odd" style="background-color:white"> 
    <button ng-click="buyCoupon(coupon.couponID, coupon.endDate,coupon.couponTitle)" type="button" class="btn btn-default btn-sm" >
    <span class="glyphicon glyphicon-trash"></span> Buy</button></td>
    <td ng-if="$even">                               
    <button ng-click="buyCoupon(coupon.couponID,coupon.endDate,coupon.couponTitle)" type="button" class="btn btn-default btn-sm" >
    <span class="glyphicon glyphicon-trash"></span> Buy</button></td>

   <td ng-if="$odd" style="background-color: white">
	<button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
	<td ng-if="$even"> <button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
   
  </tr>
</table>
</center>