<center ng-include="'customer/homeLogo.htm'"></center>

<center>
 

<table>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Picture</th>
        <th>Remove</th>
        
    </tr>

  <tr ng-repeat="coupon in couponscustomerDetails">
  
    <td>{{ coupon.couponTitle }}</td>
    <td> {{ coupon.couponTypeByNumber }}</td>
    <td>  {{ coupon.startDate }}</td>
    <td> {{coupon.endDate }}</td>
    <td> {{ coupon.couponPrice }}</td>
    <td>{{ coupon.couponAmount }}</td>
    <td>{{ coupon.couponMessage }}</td>
  
<td ng-if="$odd" style="background-color: white">
	<button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
	<td ng-if="$even"> <button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
	
	 <td ng-if="$odd" style="background-color: white">
	<button ng-click="deleteCustomerCoupon(coupon.couponID) " type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
	<td ng-if="$even"> <button ng-click="deleteCustomerCoupon(coupon.couponID)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
   
  </tr>
</table>
</center>