<center ng-include="'company/homeLogo.htm'"></center>



<center>
<form>

&emsp;Type :  <select class="form-control"  ng-model="coupon.couponTypeByNumber" >
 <option value ="1">Restaurant</option>
 <option value ="2">Traveling</option>
 <option value ="3">Holiday</option>
 </select>
 <input type="submit" value="Click To Get List" ng-click="type(coupon.couponTypeByNumber)"/>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Buy</th>
        
    </tr>

  <tr ng-repeat="coupon in listOfCouponsType">
  
    <td>{{ coupon.couponID }}</td>
    <td>{{ coupon.couponTitle }}</td>
    <td> {{ coupon.couponTypeByNumber }}</td>
    <td> {{ coupon.startDate }}</td>
    <td> {{ coupon.endDate }}</td>
    <td> {{ coupon.couponPrice }}</td>
    <td>{{ coupon.couponAmount }}</td>
    <td>{{ coupon.couponMessage }}</td>
  
<td ng-if="$odd" style="background-color: white">
	<button ng-click="deleteCoupon(coupon.couponID , coupon.couponTitle) " type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
	<td ng-if="$even"> <button ng-click="deleteCoupon(coupon.couponID , coupon.couponTitle)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>

   
   <button><a href = "#company/myCoupons">Back</a></button>
  </tr>
</table>
</form>
</center>