<center ng-include="'company/homeLogo.htm'"></center>

<center>
 <button><a href = "#company/ByType">ByType</a></button>
<button><a href = "#company/ByPrice">ByPrice</a></button>

<table>
    <tr>
    	<th>couponID</th>
    	<th>companyID</th>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Remove</th>
        <th>Edit</th>
        <th>Picture</th>
    </tr>

  <tr ng-repeat="coupon in couponsDetails">
  
    <td>{{ coupon.couponID }}</td>
    <td>{{ coupon.companyID }}</td>
    <td>{{ coupon.couponTitle }}</td>
    <td> {{ coupon.couponTypeByNumber }}</td>
    <td>  {{ coupon.startDate }}</td>
    <td> {{ coupon.endDate }}</td>
    <td> {{ coupon.couponPrice }}</td>
    <td>{{ coupon.couponAmount }}</td>
    <td>{{ coupon.couponMessage }}</td>


    <td ng-if="$odd" style="background-color: white">
	<button ng-click="deleteCoupon(coupon.couponID , coupon.couponTitle) " type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
	<td ng-if="$even"> <button ng-click="deleteCoupon(coupon.couponID , coupon.couponTitle)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>

	<td ng-if="$odd" style="background-color: white"><button 
	data-toggle="modal"ng-click="showWeb(event)" > <span class="glyphicon glyphicon-edit"></span> Edit</button>
	</td>
	<td ng-if="$even"> <button   data-toggle="modal">
	<span class="glyphicon glyphicon-edit" ></span> Edit </button>
	</td>
	
	<td ng-if="$odd" style="background-color: white">
	<button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
	<td ng-if="$even"> <button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
 
  </tr>
</table>

<div class="modal fade" id="Update-modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
					
			<div class="modal-header modal-header-info" align="center"
				style="background-color: #dddddd">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title">
					<font color="white">Update Coupon</font>
				</h4>
				<br />
			</div>
	
			
            <div id="div-forms">
                <form id="update-form" ng-submit="updateCoupons(coupon.couponID )" >
                    <div class = "modal-body">
                        <label>Price :</label>
                        <br/><input type="number" placeholder="Price"class="form-control"name="couponPrice"min=0 max=1000 ng-model="coupon.couponPrice"/>
                       
                        <br />
                       <label>End Date : </label> 
                       &emsp;<br/><input type="Date" placeholder="Date" class="form-control" name="endDateString" ng-model="coupon.endDateString"/>
                        <br/>
                        <input type="submit" value="Update Coupon" ng-click="updateCoupons(coupon.couponID )"/>
                    </div>
                </form>


            </div>
		</div>
		</div>
	</div>



</center>