<center ng-include="'admin/homeLogo.htm'"></center>


<center>

<table>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Remove</th>
        
    </tr>

  <tr ng-repeat="x in listOfCoupons">
  
    <td>{{ x.couponTitle }}</td>
    <td> {{ x.couponTypeByNumber }}</td>
    <td>  {{ x.startDate }}</td>
    <td> {{ x.endDate }}</td>
    <td> {{ x.couponPrice }}</td>
    <td>{{ x.couponAmount }}</td>
    <td>{{ x.couponMessage }}</td>
  
 <td ng-if="$odd" style="background-color: white">
	<button ng-click="deleteCoupon(x.couponID , x.couponTitle , $index)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
	<td ng-if="$even" style ="background-color: #dddddd"> <button ng-click="deleteCoupon(x.couponID , x.couponTitle)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>

   
   
  </tr>
</table>
</center>