<center ng-include="'admin/homeLogo.htm'"></center>


<center>
 

<table>
    <tr>
    	<th>couponID</th>
    	<th>companyID</th>
        <th>Title</th>
        <th>Type</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Message</th>
        <th>Remove</th>
        <th>Picture</th>
        
    </tr>

  <tr ng-repeat="coupon in listOfCoupons">
  
    <td>{{ coupon.couponID }}</td>
    <td>{{ coupon.companyID }}</td>
    <td>{{ coupon.couponTitle }}</td>
    <td> {{ coupon.couponTypeByNumber }}</td>
    <td>  {{ coupon.startDate }}</td>
    <td> {{ coupon.endDate }}</td>
    <td> {{ coupon.couponPrice }}</td>
    <td>{{ coupon.couponAmount }}</td>
    <td>{{ coupon.couponMessage }}</td>


    <td ng-if="$odd" style="background-color: white">
	<button ng-click="deleteCoupons(coupon.couponID , coupon.couponTitle) " type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>
	<td ng-if="$even"> <button ng-click="deleteCoupons(coupon.couponID , coupon.couponTitle)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-trash"></span> Remove </button>
	</td>

	<td ng-if="$odd" style="background-color: white">
	<button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
	<td ng-if="$even"> <button ng-click="couponPic(coupon.couponTypeByNumber)" type="button" class="btn btn-default btn-sm">
	<span class="glyphicon glyphicon-picture"></span> Picture </button>
	</td>
   
  </tr>
</table>
</center>