<center ng-include="'register/homeLogo.htm'"></center>
<!-- create Customer -->
 <div id="post_header" class="container" style="height: 40px">
 <!-- Spacing below header -->
</div>

<div class="headline">
<h2>Create Customer</h2>
</div>

<form method ="Post">
&emsp;<label>Customer Name : </label>
<div class="row margin-bottom-20">
 <div class="col-md-6 col-md-offset-0">
<input type="text" class="form-control" placeholder="Name"  name="customerName" ng-model="customer.customerName" />
<span style="color: green;" id="user-availability-status"> * Must be 6-20 characters.</span>
<br>
<span style="color: green;" id="user-availability-status"> * You have to include capital letter first.</span>
</div>
</div>

&emsp;<label>Customer Password: </label>
  <div class="row margin-bottom-20">
 <div class="col-md-6 col-md-offset-0">
 <input type="password"  class="form-control" placeholder="Password" name="customerPassword" ng-model="customer.customerPassword"  />
 <span style="color: green;" id="user-availability-status"> * You have to include capital letter first and numbers last.</span>
</div>
</div>
<input type="submit" class="btn btn-primary" value="Create Account" ng-click="createCustomer()" />
</form>

<img class="customerReg" src="https://mobunti.co.uk/images/Address-Book-blue-icon.png" alt="customerPicR">

