
<center ng-include="'register/homeLogo.htm'"></center>

 <div id="post_header" class="container" style="height: 40px">

</div>

<div class="headline">
<h2>Create Company</h2>
</div>

<!-- Create Company -->
<form method ="Post">
&emsp;<label>Company Name : </label>
<div class="row margin-bottom-20">
 <div class="col-md-6 col-md-offset-0">
<input type="text" class="form-control"placeholder="Name"  name="companyName" ng-model="company.companyName" />
<span style="color: green;" id="user-availability-status"> * Must be 6-20 characters.</span>
<br>
<span style="color: green;" id="user-availability-status"> * You have to include capital letter.</span>
</div>
</div>
  &emsp;<label>
  Company Password: 
  <span class="color-red">*</span>
  </label>
<div class="row margin-bottom-20">
<div class="col-md-6 col-md-offset-0">
<input type="password" class="form-control"placeholder="Password"  name="companyPassword" ng-model="company.companyPassword" />
<span style="color: green;" id="user-availability-status"> * Must be 6-20 characters.</span>
<br>
<span style="color: green;" id="user-availability-status"> * You have to include capital letter and numbers.</span>
</div>
</div>
&emsp;<label>Company Email: </label>
  <div class="row margin-bottom-20">
 <div class="col-md-6 col-md-offset-0">
 <input type="text" name="companyEmail" class="form-control" placeholder="Email" ng-model="company.companyEmail"  />
 <span style="color: green;" id="user-availability-status"> * Must be 6-25 characters.</span>
 <br>
<input type="submit" class="btn btn-primary" value="Create Account" ng-click="createCompany()" />
</div>
</div>
</form>

<img class="companyReg" src="http://img09.deviantart.net/b9f2/i/2014/090/e/9/hand_with_pencil_social_media_icon_by_hassified-d6xmnxl.png" alt="companyPicR">



